<head>

    <!-- Fonts -->
    <style> @import url('https://fonts.googleapis.com/css2?family=Baskervville&xXfamily=EB+Garamond&display=swap'); </style>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ "css/navbar.css" | absURL }}" type="text/css" />  
    <link rel="stylesheet" href="{{ "css/main.css" | absURL }}" type="text/css" />  
    <link rel="stylesheet" href="{{ "css/footer.css" | absURL }}" type="text/css" />  
    <link rel="stylesheet" href="{{ "css/components.css" | absURL }}" type="text/css" />
    <link rel="stylesheet" href="{{ "css/cardlayout.css" | absURL }}" type="text/css" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ $.Site.Params.icon }}">

    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>